<div class="places_title">
    <h2>TeachEasy hackathon project</h2>
    <hr class="dotted">
</div>
<div class="video_link">
    <p>
        Please <a href="https://drive.google.com/file/d/1EI8gBB0ZO0mcmV9f_rKbDm7FzqrJlOxp/view?usp=sharing" class="link"
            target="_blank">click here</a> if you would like to see a video of the app.
    </p>
    <p>
        Click on Figma logo to see demo of the project in Figma.
    </p>
    <a href="https://www.figma.com/design/LBhRj3ivDnljwNXhRXsA51/TeachEasy?node-id=0-1&t=15vLLegA4pzOiHjR-1"
        target="_blank" class="social_site_link">
        <img src="assets/figma.png" width="50" height="70" aria-hidden="true" class="github" />
    </a>
    <hr class="dotted">
</div>
<div class="description">
    <h3>
        Description
    </h3>
    <p>
        The team of TeachEasy startup came to my university to hold a hackathon.
        The goal was to create a demo version of the application to help Austrian teachers to digitalize their work. 
        We developed a design using Figma, created a database structure, and implemented key functionality of the app using Flutter. 
        My team got the second place out of 13 contesters.
    </p>

</div>
<hr class="dotted">
<div class="screenshots">
    <h3>
        Screenshots of the app
    </h3>
    <div class="screenshots_row">
        <img src="assets/teacheasy_page.png" width="1000" height="650" />
    </div>
</div>
<hr class="dotted">
<div class="screenshots">
    <h3>
        Database of the app
    </h3>
    <div class="screenshots_row">
        <img src="assets/db.png" width="900" height="700" />
    </div>
</div>

<hr class="dotted">
<div class="languages">
    <h3>
        Languages
    </h3>
    <div>
        <img src="assets/dart.png" width="150" height="60" />
    </div>



</div>
<hr class="dotted">
<div class="tools">
    <h3>
        Used Tools
    </h3>
    <div>
        <img src="assets/flutter.png" width="150" height="60" />
    </div>
</div>