h2 {
    color: #4B0082;
    align-self: center;
}

hr.dotted {
    border-top: 3px dotted #7f7e80;
}

.about_title {
    flex-direction: column;
    text-align: center;
}

h3 {
    color: #6495ED
}

p {
    color: #7f7e80;
    width: 50%;
}

p.email{
    color: #7f7e80;
}

.background {
    flex-direction: column;
    padding-left: 5%;
}

.contacts {
    text-align: center;
}

.social_sites {
    flex-direction: row;
    text-align: center;
    gap: 20px;
}
