<div class="about_title">
    <h2>About</h2>
    <hr class="dotted">
</div>
<div class="background">
    <h3>Background:</h3>
    <p>
        I am currently a first-year student at Gisma University of Applied Science in Potsdam, Germany.
        I am originally from Volgograd, Russia. All my life, I was interested in programming.
        I started my journey with Robotics at a local University when I was in school,
        and now I am doing a Software Engineering Bachelor in Germany.
    </p>
    <h3>What am I doing now?</h3>
    <p>
        Currently, I am developing an app for a Coffee house chain
        and looking for internships or student-work positions.
    </p>
</div>
<div class="contacts">
    <hr class="dotted">
    <h2>Contacts</h2>
</div>

<div class="social_sites">
    <p class="email">Email: {{email}}</p>

    <a href="https://github.com/leragogogo" target="_blank" class="social_site_link">
        <img src="cs-portfolio/assets/github.png" width="30" height="30" aria-hidden="true" class="github" />
    </a>
    <a href="https://www.linkedin.com/in/valeriia-gogotova-352883313/" target="_blank" class="social_site_link">
        <img src="cs-portfolio/assets/linkedin.png" width="30" height="30" class="linkedin" />
    </a>



</div>
