<div class="courses_title">
    <h2>Major-related courses</h2>
    <hr class="dotted">
</div>
<div class="universities">
    <div class="hse">
        <h3>
            Higher School of Economics
        </h3>
        <h4>
            Software Engineering 2021-2022 (finished only 1 year)
        </h4>
        <p>
            Moscow, Russia
        </p>
        <ul class="dotted-list">
            <li class="item">Calculus</li>
            <li class="item">Linear Algebra</li>
            <li class="item">Discrete Math</li>
            <li class="item">C# Programming</li>
        </ul>
    </div>
    <div class="gisma">
        <h3>
            Gisma University of Applied Science
        </h3>
        <h4>
            Software Engineering 2023-2026
        </h4>
        <p>
            Potsdam, Germany
        </p>
        <ul class="dotted-list">
            <li class="item">Data Structures & Algorithms</li>
            <li class="item">Python Programming</li>
            <li class="item">Databases & Big Data</li>
            <li class="item">Computer Science Lab</li>
            <li class="item">Project Management</li>
        </ul>
    </div>
</div>
