<div class="places_title">
    <h2>Places app</h2>
    <hr class="dotted">
</div>
<div class="video_link">
    <p>
        Please <a href="https://drive.google.com/file/d/1fA-3F9GaVx7NEfd6qOW8rdscP_658rM2/view?usp=sharing" class="link"
            target="_blank">click here</a> if you would like to see a video of the app.
    </p>
    <p>
        Click on Github logo to see Github page of the project.
    </p>
    <a href="https://github.com/leragogogo/places" target="_blank" class="social_site_link">
        <img src="assets/github.png" width="50" height="50" aria-hidden="true" class="github" />
    </a>
    <hr class="dotted">
</div>
<div class="description">
    <h3>
        Description
    </h3>
    <p>
        It was a final task in the Flutter course at my University, collaborating with Surf Company.
        The application provides users with cafes, restaurants, museums, hotels, and other places nearby.
        A user can filter places by distance and type. The places can be displayed as a list or as points on the map.
        Dark mode is also available! Last but not least,
        a user can add places that he or she likes to the favorites screen so as not to forget or to share with friends.
    </p>

</div>
<hr class="dotted">
<div class="screenshots">
    <h3>
        Screenshots of the app
    </h3>
    <div class="screenshots_row">
        <img src="assets/places1.png" width="200" height="400" />
        <img src="assets/places2.png" width="200" height="400" />
        <img src="assets/dark_mode.png" width="200" height="400" />
        <img src="assets/places_det.png" width="200" height="400" />
        <img src="assets/new_place.png" width="200" height="400" />
    </div>
    <div class="screenshots_row">
        <img src="assets/filters.png" width="200" height="400" />
        <img src="assets/places_tut1.png" width="200" height="400" />
        <img src="assets/places_tut2.png" width="200" height="400" />
        <img src="assets/places_tut3.png" width="200" height="400" />
        <img src="assets/settings.png" width="200" height="400" />
    </div>
</div>

<hr class="dotted">
<div class="languages">
    <h3>
        Languages
    </h3>
    <div>
        <img src="assets/dart.png" width="150" height="60" />
    </div>
    
</div>
<hr class="dotted">
<div class="tools">
    <h3>
        Used Tools
    </h3>
    <div>
        <img src="assets/flutter.png" width="150" height="60" />
    </div>
</div>
